<a href="https://colab.research.google.com/github/ariefwcks303/Basic-Python-Learn-From-Pacmann/blob/main/A_Good_First_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pertemuan 1  A Good First Program**

# **Outline**
1. Printing
2. Variabel
3. More Printing
4. Commenting
5. Error and How to Solve

##1. Printing

Case Study 1

- Sebagai pengalaman ngoding awal, kita bisa menampilkan sesuatu lewat Python.
- Kita dapat menampilkan text maupun angka menggunakan perintah print pada Python.
- Caranya ialah dengan menggunakan perintah print melalui syntax di bawah ini:
- print(" < *TEXT* YANG INGIN DITAMPILKAN > ")
- print(< ANGKA YANG INGIN DITAMPILKAN >)

- Ketika kita ingin menampilkan atau print angka yang berjumlah besar, kita bisa menggunakan underscore (_) untuk mempermudah orang lain atau kita sendiri ketika membaca code kita (human readable)

Semisal kita ingin mengeluarkan angka 100.000.000 maka akan seperti berikut

print(100_000_000)

**1. A**

Misalkan kita ingin menampilkan kalimat Halo Dunia!

In [1]:
print("Hello World!")

Hello World!

**1. B**

Misalkan kita ingin menampilkan kalimat Saya sedang belajar menampilkan text

In [2]:
print("Saya sedang belajar menampilkan text")

Saya sedang belajar menampilkan text

**1. C**
- isalkan kita ingin menampilkan bulan lahir kita (dalam bentuk angka)!
- (sesuaikan dengan bulan lahir teman - teman)

In [3]:
print("20/11/1998")

20/11/1998

**1. D**
- Misalkan Antono membeli meja sebanyak 6 meja.
- cobalah print jumlah meja yang dibeli oleh Antono!

In [4]:
print(6)

6

**1. E**
- Semisal Andi memiliki Coffee Shop dengan nama "PaperCup Coffee".
- Cobalah print nama Coffee Shop yang dimiliki oleh Andi!

In [5]:
andi = "PaperCup Coffee"
print(andi)

PaperCup Coffee

**1. F**
- Toko PaperCup Coffee memiliki menu Butter Croissant dengan harga Rp 35.000
- Cobalah print harga menu Butter Croissant!

In [8]:
Butter_Croissant = "Rp 35.000"
print(Butter_Croissant)

Rp 35.000

**1.G**
- PaperCup Coffee memiliki menu baru yaitu "Salted Caramel Chip".
- Cobalah print nama menu terbaru yang ada di PaperCup Coffee!

In [9]:
menu_baru = "Salted Caramel Chip"
print(menu_baru)

Salted Caramel Chip

##2. **Variables**
**Case Study 2**

- Variabel merupakan tempat menyimpan sebuah nilai ataupun data.
- Kita dapat membuat variabel dengan menggunakan syntax sebagai berikut:
  nama_variabel = <nilai>

- Nilai dapat berupa teks maupun angka/bilangan.

**ADDITIONAL RESOURCES**
- Kita juga bisa memasukkan banyak nilai ke dalam banyak variable, contoh:
1. num_1,
2. num_2,
3. num_3 = 1, 2, 3

- Lalu, kita juga bisa menyimpan sebuah nilai yang Constant ke dalam vairable.
- Constant adalah sebuah nilai nya yang tidak bisa diganti atau diubah atau sudah saklek
- Untuk penulisan variable nya menggunakan huruf kapital semua, contoh:
1. PI = 3.14
2. GRAVITY = 9.8
3. PAJAK = 0.11

**2. A**

Misalkan kita ingin membuat sebuah variabel yang menyimpan nama kita

- Nama Variabel = nama
- Isi dari Variabel = "nama kita"

In [10]:
nama = "Arief Wicaksono"
print(nama)

Arief Wicaksono

**2. B**

Misalkan kita ingin membuat sebuah variabel yang menyimpan text "Saya sedang belajar cara membuat variabel"

- Nama Variabel = text
- Isi dari Variabel = "Saya sedang belajar membuat variabel"

In [11]:
text = "Saya sedang belajar membuat variabel"
print(text)

Saya sedang belajar membuat variabel

**2. C**

- Semisal Andi memiliki Coffee Shop dengan nama "PaperCup Coffee".
- Coba buatlah variable yang berguna untuk menyimpan text nama Coffee Shop milik Andi!

In [12]:
ANDI = "PaperCup Coffee"
print(ANDI)

PaperCup Coffee

**2 .D**

- Toko PaperCup Coffee memiliki menu Butter Croissant dengan harga Rp 35.000
- Coba buatlah variable yang menyimpan harga Butter Croissant!

In [13]:
Butter_Croissant = "Rp 35.000"
print(Butter_Croissant)

Rp 35.000

**2. E**
- PaperCup Coffee memiliki menu baru yaitu "Salted Caramel Chip".
- Coba buat variable untuk menyimpan nilai menu baru dari PaperCup Coffee!

In [14]:
menu_baru = "Salted Caramel Chip"
print(menu_baru)

Salted Caramel Chip

**2.F**

James Hoffman pergi ke PaperCup Coffee milik Andi, setelah mencicipi kopi buatan toko tersebut James termotivasi untuk membuat kopi sendiri ketika di rumah nanti. James pergi ke Supermarket untuk membeli keperluan membuat kopi, berikut adalah barang yang dibeli dan harganya:

- Biji Kopi yang dibeli adalah "Ethiopian Coffee Beans" dengan harga Rp 115.000
- Alat yang dibutuhkan untuk menyeduh kopi sendiri James membeli alat "V60" dengan harga Rp 95.500

Coba buat variable untuk menyimpan nilai sesuai dengan soal cerita!!

In [ ]:

biji =  "Ethiopian Coffee Beans"
Harga_biji = "Rp 115.000"

alat = "V60"
harga_alat = "Rp 95.500"

##3. **More Printing**
Case Study 3

**3. A**

Setelah sebelumnya kita telah belajar mengenai variabel, maka sekarang kita akan belajar bagaimana caranya menampilkan isi dari variabel yang telah kita buat sebelumnya.

Misalkan kita telah membuat sebuah variabel yang menyimpan nama lengkap dan ingin menampilkan isinya.

- nama = "Bill Gates"
- print(nama)

In [16]:
 nama = "Bill Gates"
 print(nama)

Bill Gates

**3. B**

Misalkan kita telah membuat sebuah variabel dan ingin menampilkan isinya

- text = "Saya sedang belajar bahasa pemrograman python"
- print(text)

In [17]:
text = "Saya sedang belajar bahasa pemrograman python"
print(text)

Saya sedang belajar bahasa pemrograman python

**3. C**
Apakah output yang akan dihasilkan dari potongan code di bawah ini?

- nama = "Bill Gates"
- umur = 66
- print(Ini adalah %s. Beliau berumur %s tahun." % (nama, umur))

In [20]:
nama = "Bill Gates"
umur = 66
print("Ini adalah %s. Beliau berumur %d tahun." % (nama, umur))

#%s memanggil variabel huruf
#%d memanggil variabel angka

Ini adalah Bill Gates. Beliau berumur 66 tahun.

**3. D**
- Semisal Andi memiliki Coffee Shop dengan nama "PaperCup Coffee".
- Cobalah masukkan nilai nama toko milik Andi ke dalam variable dan print variable tersebut!
- Tuliskan code yang sesuai dengan output yang diinginkan

In [22]:
nama_kopi = "PaperCup Coffee"
print("Nama Coffee Shop milik Andi adalah %s." % (nama_kopi))

Nama Coffee Shop milik Andi adalah PaperCup Coffee.

**3. E**
- Toko PaperCup Coffee memiliki menu Butter Croissant dengan harga Rp 35.000
- Cobalah masukkan nilai nama menu dan harga menu tersebut ke dalam variable dan print variable tersebut!
- Tuliskan code yang sesuai dengan output yang diinginkan

Menu favorit di PaperCup Coffee adalah Butter Croissant dengan harga 35000

In [23]:
fav = "Butter Croissant"
price = 35000
print("Menu favorit di PaperCup Coffee adalah %s dengan harga %d." % (fav, price))

Menu favorit di PaperCup Coffee adalah Butter Croissant dengan harga 35000.

**3.F**

James Hoffman pergi ke PaperCup Coffee milik Andi, setelah mencicipi kopi buatan toko tersebut James termotivasi untuk membuat kopi sendiri ketika di rumah nanti. James pergi ke Supermarket untuk membeli keperluan membuat kopi, berikut adalah barang yang dibeli dan harganya:

- Biji Kopi yang dibeli adalah "Ethiopian Coffee Beans" dengan harga Rp 115.000
- Alat yang dibutuhkan untuk menyeduh kopi sendiri James membeli alat "V60" dengan harga Rp 95.500

Cobalah masukkan nilai - nilai tersebut ke dalam variable dan buatlah code yang sesuai dengan output!

In [27]:
biji = "Ethiopian Coffee Beans"
harga_biji = 115000
alat = "V60"
harga_alat = 95500

print("Biji Kopi yang dibeli adalah %s dengan harga Rp %d " % (biji, harga_biji))
print("Alat yang dibutuhkan untuk menyeduh kopi sendiri James membeli alat %s dengan harga Rp %d " % (alat, harga_alat))

Biji Kopi yang dibeli adalah Ethiopian Coffee Beans dengan harga Rp 115000
Alat yang dibutuhkan untuk menyeduh kopi sendiri James membeli alat V60 dengan harga Rp 95500

##**Commenting**

Case Study 4

- Commenting merupakan sebuah komentar yang digunakan untuk memperjelas maksud dari sebuah proses ataupun sebuah perintah.
- Apabila dijalankan commenting tidak akan melakukan eksekusi apapun.
- Commenting diperlukan untuk mempermudah kita mengerti suatu program.
- Commenting juga akan mempermudah orang lain yang hendak membaca program kita kelak.

**4. A**

Berilah komentar pada code di bawah ini menggunakan inline comment!
- harga_kopi = 39500
- print(harga_kopi)

In [ ]:
harga_kopi = 39500 #menampung nilai harga kopi
print(harga_kopi) #mengembalikan / mengeluarkan variabel harga_kopi

## **Error**

Ketika mendapati suatu error, ada beberapa langkah yang dapat kita lakukan untuk dapat mengatasinya, yaitu:

- Perhatikan error outputnya
- Cobalah untuk googling mengenai error tersebut
- Kemudian cobalah code yang telah digoogling sebelumnya
-Apabila masih belum solve, cobalah untuk googling kembali

Case Study 5

Budi baru saja pulang berbelanja dan ia merasa bahwa uang yang habiskan terlalu banyak hari ini. Ia pun kemudian melist barang belanjaannya hari ini, yaitu sebagai berikut

- Jaket: 250.000
- Sepatu: 300.000
- Tas: 200.000

**5. A**

Misalkan kita melakukan print pada harga jaket yang budi beli menggunakan perintah dibawah ini:

PRINT(250000)

In [32]:
PRINT(250000):

SyntaxError: invalid syntax (<ipython-input-32-f56a2bc9bfba>, line 1)

Setelah program dijalankan, maka kita akan mengetahui error yang kita dapatkan. Dalam hal ini, error yang kita dapatkan yaitu invalid syntax. Untuk itu kita perlu memperbaiki syntax dari program yang telah kita buat.

In [33]:
print(250_000)

250000

**5.B**

Misalkan nama barang-barang yang telah dibeli oleh budi kita masukkan ke dalam variabel, kemudian kita lakukan print pada salah satu variabel tersebut!

- jaket = 250000
- sepatu = 300000
- tas = 200000

In [34]:
jaket = 250000
sepatu = 300000
tas = 200000

print(TAS)

NameError: name 'TAS' is not defined

Setelah program dijalankan, maka kita akan mengetahui error yang kita dapatkan. Dalam hal ini, error yang kita dapatkan yaitu name 'TAS' is not defined Itu artinya variabel TAS tidak pernah kita deklarasikan sebelumnya, karena yang kita deklarasikan yaitu variabel tas bukan TAS.

In [35]:
jaket = 250000
sepatu = 300000
tas = 200000

print(tas)

200000

**5. C**

Misalkan kita ingin menjalankan potongan code di bawah ini

- print("harga jaket adalah 250.000")
    - print("harga sepatu adalah 300.000")
- print("harga tas adalah 200.000")

In [36]:
- print("harga jaket adalah 250.000")
    - print("harga sepatu adalah 300.000")
- print("harga tas adalah 200.000")

IndentationError: unexpected indent (<ipython-input-36-7c316df152d5>, line 2)

Setelah program dijalankan, maka kita akan mengetahui error yang kita dapatkan. Dalam hal ini, error yang kita dapatkan yaitu unexpected indent. Artinya ada indent yang tidak sesuai pada program kita. Sehingga kita harus menyesuaikan indentnya.

In [37]:
print("harga jaket adalah 250.000")
print("harga sepatu adalah 300.000")
print("harga tas adalah 200.000")

harga jaket adalah 250.000
harga sepatu adalah 300.000
harga tas adalah 200.000

**5. D**
Pada section Printing sempat di mention kalau ingin menampilkan atau print angka dengan jumlah yang besar kita menggunakan underscore (_).

Bagaimana jika kita menggunakan titik (.) sebagai pemisah?

In [38]:
print(100.000.000)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-38-ae4475235bac>, line 1)

In [39]:
print(100_000_000)

100000000