<a href="https://colab.research.google.com/github/ariefwcks303/Basic-Python-Learn-From-Pacmann/blob/main/Composite_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Composite Data Structure**

##**Outline**

1. Review
2. Case 1 -- Analisa Profit
3. Case 2 -- Gaji Karyawan Perusahaan
4. Case 3 -- Koleksi Mainan
5. Case 4 -- Inventori Gudang

## **Review**

### **1. Composite Data Structure on Python**

Composite Data Structure adalah tipe data yang tersusun (composed) dari dua atau lebih tipe data primitif `(int, float, string, boolean)`

Perbedaan Composite Data Structure dengan Primitive data Structure bisa anda lihat pada tabel dibawah.

||Composite Data Structure|Primitive Data Structure|
|-|-|-|
|Struktur|dibangun dari tipe data lain|tipe data yang paling sederhana|
|Penyimpanan|bisa menyimpan banyak tipe data | hanya menyimpan satu tipe data|
|Contoh|`list, tuple, set, dictionary` | `integer, float, string, boolean`|

### **2. List**

List dalam python di representasikan dengan **tanda kurung siku** `[]`. Kita bisa menyimpan tipe data apa saja didalam list seperti string, angka, atau tipe data lain.

Contoh sebuah list:

```python
my_list = [1, 2, 3, 4, 5]
```

Kita bisa akses sebuah element pada list menggunakan **indexing** atau **slicing**

Sebuah list memiliki sifat **mutable**, artinya kita dapat mengubah atau memodifikasi nilai dari tipe data tersebut

List di python memiliki banyak method untuk mempermudah pekerjaan. Beberapa method yang sering digunakan diantaranya:
```
- len()
- append()
- insert()

- in
- index()
- count()
- remove()
- pop()

### **3. Dictionary**

`Dictionary` bisa dianggap sebagai pemetaan antara sebuah indeks yang disebut **keys** dan sebuah **value**. Setiap key **memetakan** ke suatu value. Hubungan key dan value ini disebut **key-value pair**.

Dictionary dalam python direpresentasikan dengan **tanda kurung kurawal** `{}`

Contoh pendefinisian sebuah dictionary

```python
NAMA_DICT = {key_1 : value_1, key_2 : "value_2", "key_3" : value_3}
```

Sebuah dictionary terdapat key dan value. Untuk **mengakses value** di dalamnya, kita bisa menggunakan notasi **kurung siku** `NAMA_DICT[KEY]`, mirip dengan cara kita mengakses element dalam `list` dengan kurung siku yang berisi indeks.

Sebuah `dictinonary` memiliki sifat `mutable` **(bisa diubah)** dan `immutable` **(tidak bisa diubah)**. Yang bisa diubah dari dictionary adalah value-nya, namun untuk key-nya sendiri tidak dapat diubah

Dictionary memiliki banyak method untuk mempermudah pekerjaan. Beberapa method yang sering digunakan diantaranya:
```
- len()
- get()
- keys()
- values()
- pop()
- update()
- copy()
- clear()

### **4. Tuple**

Tuple sangat mirip dengan list, perbedaan pentingnya adalah tuple tidak dapat diubah (immutable)

tuple dalam python di representasikan dengan tanda kurung () dan elementnya dipisahkan oleh tanda koma ,

Contoh sebuah tuple:
```python
my_typle = ("Apel", "Jeruk", "Mangga")
```

Kita tetap bisa melakukan **indexing** dan **slicing** seperti pada List, Namun kita tidak bisa mengubah element pada tuple karena sifatnya immutable.

Beberapa method pada tuple:


```
- len()
- in
- index()
- count()
+
```

### **5. Set**

Set adalah sebuah struktur data yang memungkinkan kita untuk menyimpan sebuah data dengan tidak berurutan (unordered) dan setiap element di dalam set adalah Unik (tidak boleh ada duplikat).

Sebuah `set` dalam python di representasikan dengan **tanda kurung kurawal** `{}` dan dipisahkan oleh **tanda koma** `,`

Contoh sebuah tuple:
```python
my_set = {'Kecapung', 'Bunglon', 'Komodo'}
```

Set sendiri merupakan tipe data yang bisa diubah **(mutable)**, namun **element** pada set tidak bisa dimodifikasi atau di ubah (immutable)

Set juga memiliki beberapa method untuk memudahkan dalam pekerjaan, seperti:


```
- len()
- in
- add()
- update()
- discard()
- union()
- intersection()
```

## **Case Study 1: Analisa Profit**

Sebagai data analis sebuah perusahaan, anda diperintahkan oleh atasan untuk menganalisa profit yang didapatkan selama satu tahun. Data profit perusahaan disajikan dalam bentuk setiap bulan seperti pada tabel berikut:

|Bulan|Profit|
|-|-|
|Januari|192.400.000|
|Februari|231.600.000|
|Maret|282.600.000|
|April|259.800.000|
|Mei|255.600.000|
|Juni|241.800.000|
|Juli|265.200.000|
|Agustus|234.600.000|
|September|210.200.000|
|Oktober|180.200.000|
|November|200.800.000|
|Desember|202.400.000|

### **1A**.
Buatlah sebuah list yang menampung hanya profitnya saja dari data tersebut!

In [1]:
profit = [192400000, 231600000, 252600000, 259800000, 255600000, 241800000,
          255200000, 234600000, 210200000, 180200000, 200800000, 202400000]
print(profit)

[192400000, 231600000, 252600000, 259800000, 255600000, 241800000, 255200000, 234600000, 210200000, 180200000, 200800000, 202400000]

### **1B**.

Carilah rata-rata profit selama 1 tahun.


```
Keterangan :
 - gunakan sum() untuk menjumlahkan semua nilai di dalam list
 - pakai len() untuk mengetahui panjang list
 - hasil perhitungan bulatkan 2 angka dibelakang koma
```

In [7]:
sum_profit = sum(profit)
print(sum_profit)

len_profit = len(profit)
print(len_profit)

avg_profit = sum_profit/len_profit
print(f'rata-rata profit perbulan adalah {avg_profit:.2f}')

2717200000
12
rata-rata profit perbulan adalah 226433333.33

### **1C**.

Berapakah profit terbesar yang pernah diperoleh ?

```
Keterangan:
- Gunakan method max() pada list
```

In [12]:
max_profit = max(profit)
print(f'profit terbesar yang didapatkan adalah Rp {max_profit}')

profit terbesar yang didapatkan adalah Rp 259800000

### **1D**.
Berapakah profit terkecil yang pernah diperoleh ?

```
Keterangan:
- Gunakan method min() pada list
```

In [13]:
min_profit = min(profit)
print(f'profit terkecil yang didapatkan adalah Rp {min_profit}')

profit terbesar yang didapatkan adalah Rp 180200000

### **1E**.  
Carilah rata-rata profit 6 bulan pertama (Januari - Juni) dan 6 bulan kedua (Juli - Desember)

```
Keterangan:
- Gunakan method sum() dan len()
- bulatkan 2 angka di belakang koma
```

In [17]:
profit_1 = profit[0:6]
len_profit_1 = len(profit_1)
sum_profit_1 = sum(profit_1)
avg_profit_1 = sum_profit_1/len_profit_1
print(f'rata-rata profit 6 bulan pertama adalah Rp {avg_profit_1:.2f}')


profit_2 = profit[6:12]
len_profit_2 = len(profit_2)
sum_profit_2 = sum(profit_2)
avg_profit_2 = sum_profit_2/len_profit_2
print(f'rata-rata profit 6 bulan kedua adalah Rp {avg_profit_2:.2f}')

rata-rata profit 6 bulan pertama adalah Rp 238966666.67
rata-rata profit 6 bulan kedua adalah Rp 213900000.00

## **Case Study 2: Gaji Karyawan Perusahaan**

Karyawan Perusahaan T memiliki gaji sebagai berikut

|Nama Karyawan | Gaji|
|-|-|
|Wawan | 4.500.000|
|Dilla | 4.000.000|
|Leo | 4.000.000|
|Ayu| 3.500.000|
|Lutfi | 3.200.000|

### **2A**.  
Buatlah sebuah dictionary untuk menyimpan nama dan gaji karyawan Perusahaan T.
```
Keterangan:
 - bentuk dictionary = {nama_karyawan:gaji}
```

In [22]:
karyawan = {'Wawan':450000, 'Dilla':4000000, 'Leo':4000000, 'Ayu':3500000,   'Lutfi':3200000}
print(gaji_karyawan)

print(f'Gaji Wawan sebesar Rp {karyawan["Wawan"]}')
print(f'Gaji Dilla sebesar Rp {karyawan["Dilla"]}')
print(f'Gaji Leo sebesar Rp {karyawan["Leo"]}')
print(f'Gaji Ayu sebesar Rp {karyawan["Ayu"]}')
print(f'Gaji Lutfi sebesar Rp {karyawan["Lutfi"]}')

{'Wawan': 450000, 'Dilla': 4000000, 'Leo': 4000000, 'Ayu': 3500000, 'Lutfi': 3200000, 'Ezra': 3200000, 'Ricardo': 3200000, 'Samsul': 3500000}
Gaji Wawan sebesar Rp 450000
Gaji Dilla sebesar Rp 4000000
Gaji Leo sebesar Rp 4000000
Gaji Ayu sebesar Rp 3500000
Gaji Lutfi sebesar Rp 3200000

### **2B**.  

Karena perusahaan T merasa kekurangan karyawan, Pimpinan akan merekrut tiga karyawan baru. Tiga karyawan tersebut adalah

|Nama|Gaji|
|-|-|
|Ezra|3.200.000|
|Ricardo|3.200.000|
|Samsul|3.500.000|

Masukkan tiga karyawan baru tersebut ke dalam variabel dict yang sudah anda buat di soal nomor 2A tadi!

```
Keterangan:
- Gunakan method update()
```

In [24]:
karyawan_baru = {'Ezra':3200000, 'Ricardo':3200000, 'Samsul':3500000}
karyawan.update(karyawan_baru)
print(karyawan)

{'Wawan': 450000, 'Dilla': 4000000, 'Leo': 4000000, 'Ayu': 3500000, 'Lutfi': 3200000, 'Ezra': 3200000, 'Ricardo': 3200000, 'Samsul': 3500000}

### **2C**
Leo dipromosikan jabatannya menjadi lebih tinggi karena pekerjaanya yang bagus. Gaji Leo naik menjadi 7.500.000.

In [27]:
karyawan['Leo'] = 7500000


print(f'Gaji leo sekarang adalah Rp {karyawan["Leo"]}')

Gaji leo sekarang adalah Rp 7500000

## **Case Study 3: Koleksi Mainan**

Rizki memiliki sebuah koleksi mainan berbentuk hewan yang banyak. Dia memindahkan mainannya ke kardus baru, karena kardus yang lama sudah rusak. Urutan mainan hewan yang dipindahkan adalah seperti berikut.


```
kuda, anjing, kucing, gajah, kucing, burung, ular, ayam, bebek, jerapah, macan, anjing, burung, kelinci
```

### **3A**.
Buatlah sebuah tuple untuk menyimpan mainan hewan Rizki

In [32]:
mainan = ('kuda', 'anjing', 'kucing', 'gajah',
         'kucing', 'burung','ular', 'ayam',
         'bebek', 'jerapah', 'macan', 'anjing', 'burung', 'kelinci')

### **3B**.
Saat memasukkan ke dalam kardus baru Rizki sadar bahwa ada mainan hewan yang jumlahnya lebih dari satu.

Dengan fungsi `input()` coba munculkan banyak hewan tertentu yang dimiliki Rizki!

```
Keterangan
Misalkan kita ketik mainan hewan kelinci
akan muncul jumlah mainan tersebut
```

In [36]:
hewan = input("Masukan mainan hewan yang ingin diketahui jumlahnya : ")
banyak_hewan = mainan.count(hewan)
print(f'Jumlah mainan hewan {hewan} adalah {banyak_hewan}')

Masukan mainan hewan yang ingin diketahui jumlahnya : kuda
Jumlah mainan hewan kuda adalah 1

## **Case Study 4: Inventori Gudang**

Perusahaan Z memiliki dua gudang yang digunakan untuk menyimpan barang yang telah selesai di produksi. Pak Handoko selaku pimpinan perusahaan menyuruh data analis di perusahaannya untuk menganalisis barang-barang yang ada di gudang tersebut.

```
Gudang satu memiliki barang dengan kode K090 K121 K890 K998 K541

Gudang dua memiliki barang dengan kode K090 K143 K776 K998 K797
```

### 4A.  
Buatlah set untuk menyimpan kode barang yang ada di dua gudang tersebut.

In [38]:
G1 = {'K090', 'K121', 'K890', 'K998', 'K541'}
G2 = {'K090', 'K143', 'K776', 'K998', 'K797'}

### 4B.  

Coba gabungkan inventori pada gudang satu dan dua

```
Keterangan:
 - gunakan method union()
```

In [39]:
G_Utama = G1.union(G2)
print(G_Utama)

{'K143', 'K776', 'K890', 'K121', 'K797', 'K541', 'K998', 'K090'}

### **4C**
Pak Handoko ingin tahu kode barang apa saja yang disimpan di gudang satu namun juga disimpan di gudang dua.


```
Keterangan:
- gunakan method intersection()
```

In [43]:
G_Utama_int = G1.intersection(G2)
print(f'Kode barang yang disimpan di dua gudang sekaligus adalah : {G_Utama_int} ')

Kode barang yang disimpan di dua gudang sekaligus adalah : {'K090', 'K998'}