<a href="https://colab.research.google.com/github/ariefwcks303/Basic-Python-Learn-From-Pacmann/blob/main/Primitive_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pertemuan 2 - Primitive Data Structure**

##Outline

1. Review
2. Case 1 - Menghitung Gaji Karyawan
3. Case 2 - Menghitung Pajak Kendaraan
4. Case 3 - Edit Hasil Scrapping Media Sosial
5. Case 4 - Percetakan Banner

##**Review**

---



Materi yang sudah anda pelajari pada video learning Primitive Data Type adalah sebagai berikut:

  1. integer - bilangan bulat
  2. float - bilangan desimal
  3. string - karakter yang di definisikan dengan tanda kutip
  4. bolean (tidak dipelajari di materi ini)
Cara untuk cek tipe data pada python bisa dengan syntax type(VALUE)

---



Jika dalam satu ekspresi matematika terdapat lebih dari satu operasi, maka harus di selesaikan berdasarkan operasi yang lebih tinggi prioritasnya. Untuk lebih mudah mengingat aturan ini bisa menggunakan akronim PEMDAS.

- Parentheses -- ()
- Exponentiation -- **
- Multiplication -- *
- Division -- /
- Addition -- +
- Substraction -- -

---


String adalah kumpulan huruf kata atau karakter lain. Pada Python, string didefinisikan dengan tanda kutip (""). Tipe data string juga memiliki operator, operator yang sering digunakan di antaranya

- Concatenation
- Repetition
- Slicing


String di Python juga memiliki beberapa method atau fungsi. method yang sering digunakan diantaranya :

- len()
- upper()
- lower()
- count()
- find()
- replace()
- capitalize()
- title()

**TAMBAHAN**

**Casting Variabel:**

Casting variabel adalah membangun atau mengubah sebuah variabel dari tipe data lain menjadi tipe data yang kita inginkan

Contoh:

string_1 = "46.7"

Kita akan mengubah variabel string_1 di atas menjadi tipe data float. Caranya:

 - numb_float = float(string_1)
 - print(type(numb_float))
 - output: class 'float'


Variabel numb_float tersebut juga bisa kita ubah menjadi tipe data integer. Caranya:

- numb_float = 46.7
- numb_int=int(46.7)
- print(type(numb_int))
- output: class 'int'

Untuk tipe data string, caranya juga berlaku seperti cara sebelumnya

- numb_int = 46
- string_2 = str(numb_int)
- print(type(string_2))
- output:class 'str'


**Limiting Float Decimal Point**

Jika kita berhadapan dengan tipe data float dengan angka di belakang koma yang banyak, kita bisa menyederhanakan jumlah angkanya menjadi yang kita inginkan.

Cara pertama bisa menggunakan method round(). Method ini akan membulatkan bilangan dibelakang koma menjadi yang kita inginkan.

contoh:

- numb_1 = 14.33733
- round_num = round(num_1, 2) # 2 disini merupakan jumlah angka di belakang koma
- print(round_num)
- output=14.34


Jika menggunakan f-string, kita bisa lebih mudah menggunakan sintaks (.2f). Sintaks tersebut akan membulatkan dua angka di belakang koma. Angka 2 tersebut bisa anda ganti dengan berapapun angka yang kita inginkan

Contoh:

- numb_2 = 14.33733
- print(f"angka = {numb_2: .2f}")
- output = 14.34

##Case Study 1: Menghitung Gaji Karyawan

Pak Bakir adalah seorang manager di sebuah Perusahaan B. Beliau ingin menghitung gaji karyawannya selama satu bulan secara keseluruhan. Daftar karyawan Pak Bakir ada di bawah ini.

|No|Nama|Jam Kerja|Jam Lembur | Upah Kerja (Kotor) | Upah Lembur | Total Upah | Pajak | Total Upah (Netto)
|----|---|---|---|---|---|---|---|---|
|1|Joko|44|12|
|2|Alex | 48 | 11 |
|3|Chandra | 50 | 10 |
|4|Hartono | 42 | 15 |
|5|Samsul | 45 | 12 |

###**1. A**
Hitunglah Upah Kerja (Kotor) dari seluruh karyawan Perusahaan B jika diketahui upah per jam adalah Rp 30000

Tampilkan output sebagai berikut

Contoh:
Upah Kerja (Kotor) Doni = Rp 380000
Keterangan :
- Upah per jam = 30000
- Upah Kerja (Kotor) = Jam Kerja x Upah per Jam

In [1]:
UPAH_PER_JAM = 30000

# upah Joko
nama_karyawan_1 = 'Joko'
jam_kerja_karyawan_1 = 44
upah_kotor_karyawan_1 = jam_kerja_karyawan_1 * UPAH_PER_JAM
print(f'Upah Kerja (Kotor) {nama_karyawan_1} = Rp {upah_kotor_karyawan_1}')

# upah Alex
nama_karyawan_2 = 'Alex'
jam_kerja_karyawan_2 = 48
upah_kotor_karyawan_2 = jam_kerja_karyawan_2 * UPAH_PER_JAM
print(f'Upah Kerja (Kotor) {nama_karyawan_2} = Rp {upah_kotor_karyawan_2}')

# upah Chandra
nama_karyawan_3 = 'Chandra'
jam_kerja_karyawan_3 = 50
upah_kotor_karyawan_3 = jam_kerja_karyawan_3 * UPAH_PER_JAM
print(f'Upah Kerja (Kotor) {nama_karyawan_3} = Rp {upah_kotor_karyawan_3}')

# upah Hartono
nama_karyawan_4 = 'Hartono'
jam_kerja_karyawan_4 = 42
upah_kotor_karyawan_4 = jam_kerja_karyawan_4 * UPAH_PER_JAM
print(f'Upah Kerja (Kotor) {nama_karyawan_4} = Rp {upah_kotor_karyawan_4}')

# upah Samsul
nama_karyawan_5 = 'Samsul'
jam_kerja_karyawan_5 = 45
upah_kotor_karyawan_5 = jam_kerja_karyawan_5 * UPAH_PER_JAM
print(f'Upah Kerja (Kotor) {nama_karyawan_5} = Rp {upah_kotor_karyawan_5}')

Upah Kerja (Kotor) Joko = Rp 1320000
Upah Kerja (Kotor) Alex = Rp 1440000
Upah Kerja (Kotor) Chandra = Rp 1500000
Upah Kerja (Kotor) Hartono = Rp 1260000
Upah Kerja (Kotor) Samsul = Rp 1350000

###**1. B**

Hitunglah Upah Lembur dari seluruh karyawan Perusahaan B

Tampilkan output sebagai berikut: contoh

contoh:
Upah Lembur Doni = Rp 23000
Keterangan :
- Upah lembur per jam = 35000
- Upah Lembur = Jam Lembur x Upah lembur per jam

In [4]:
UPAH_LEMBUR_PER_JAM = 35000

# Lembur Joko
nama_karyawan_1 = 'Joko'
jam_lembur_karyawan_1 = 12
upah_lembur_karyawan_1 = jam_lembur_karyawan_1 * UPAH_LEMBUR_PER_JAM
print(f'Upah lembur {nama_karyawan_1} = Rp {upah_lembur_karyawan_1}')

# Lembur Alex
nama_karyawan_2 = 'Alex'
jam_lembur_karyawan_2 = 11
upah_lembur_karyawan_2 = jam_lembur_karyawan_2 * UPAH_LEMBUR_PER_JAM
print(f'Upah lembur {nama_karyawan_2} = Rp {upah_lembur_karyawan_2}')

# Lembur Chandra
nama_karyawan_3 = 'Chandra'
jam_lembur_karyawan_3 = 10
upah_lembur_karyawan_3 = jam_lembur_karyawan_3 * UPAH_LEMBUR_PER_JAM
print(f'Upah lembur {nama_karyawan_3} = Rp {upah_lembur_karyawan_3}')

# Lembur Hartono
nama_karyawan_4 = 'Hartono'
jam_lembur_karyawan_4 = 15
upah_lembur_karyawan_4 = jam_lembur_karyawan_4 * UPAH_LEMBUR_PER_JAM
print(f'Upah lembur {nama_karyawan_4} = Rp {upah_lembur_karyawan_4}')

# Lembur Samsul
nama_karyawan_5 = 'Samsul'
jam_lembur_karyawan_5 = 12
upah_lembur_karyawan_5 = jam_lembur_karyawan_5 * UPAH_LEMBUR_PER_JAM
print(f'Upah lembur {nama_karyawan_5} = Rp {upah_lembur_karyawan_5}')

Upah lembur Joko = Rp 420000
Upah lembur Alex = Rp 385000
Upah lembur Chandra = Rp 350000
Upah lembur Hartono = Rp 525000
Upah lembur Samsul = Rp 420000

###**1. C**

Hitunglah Total Upah dari seluruh karyawan Perusahaan B

Tampilkan output sebagai berikut:

Contoh :
- Total Upah Doni = RP 49000

Keterangan :
- Total Upah = Upah Kerja (Kotor) + Upah Lembur

In [7]:
# Total upah Joko
nama_karyawan_1 = 'Joko'
total_upah_karyawan_1 = upah_kotor_karyawan_1 + upah_lembur_karyawan_1
print(f'Total Upah {nama_karyawan_1} = Rp {total_upah_karyawan_1}')

# Total upah Alex
nama_karyawan_2 = 'Alex'
total_upah_karyawan_2 = upah_kotor_karyawan_2 + upah_lembur_karyawan_2
print(f'Total Upah {nama_karyawan_2} = Rp {total_upah_karyawan_2}')

# Total upah Chandra
nama_karyawan_3 = 'Chandra'
total_upah_karyawan_3 = upah_kotor_karyawan_3 + upah_lembur_karyawan_3
print(f'Total Upah {nama_karyawan_3} = Rp {total_upah_karyawan_3}')

# Total upah Hartono
nama_karyawan_4 = 'Hartono'
total_upah_karyawan_4 = upah_kotor_karyawan_4 + upah_lembur_karyawan_4
print(f'Total Upah {nama_karyawan_4} = Rp {total_upah_karyawan_4}')

# Total upah Samsul
nama_karyawan_5 = 'Samsul'
total_upah_karyawan_5 = upah_kotor_karyawan_5 + upah_lembur_karyawan_5
print(f'Total Upah {nama_karyawan_5} = Rp {total_upah_karyawan_5}')

Total Upah Joko = Rp 1740000
Total Upah Alex = Rp 1825000
Total Upah Chandra = Rp 1850000
Total Upah Hartono = Rp 1785000
Total Upah Samsul = Rp 1770000

###**1. D**
Jika persentase pajak karyawan adalah 5%, hitunglah Pajak dari setiap karyawan Perusahaan B

Tampilkan output sebagai berikut:

Contoh:
- `Total Pajak Doni = Rp 5000`

Keterangan : Pajak = Total upah x 5%

In [12]:
# Total Pajak Joko
nama_karyawan_1 = 'Joko'
total_pajak_karyawan_1 = total_upah_karyawan_1 * 5/100
print(f'Total Upah {nama_karyawan_1} = Rp {total_pajak_karyawan_1}')

# Total Pajak Alex
nama_karyawan_2 = 'Alex'
total_pajak_karyawan_2 = total_upah_karyawan_2 * 5/100
print(f'Total Upah {nama_karyawan_2} = Rp {total_pajak_karyawan_2}')

# Total Pajak Chandra
nama_karyawan_3 = 'Chandra'
total_pajak_karyawan_3 = total_upah_karyawan_3 * 5/100
print(f'Total Upah {nama_karyawan_3} = Rp {total_pajak_karyawan_3}')

# Total Pajak Hartono
nama_karyawan_4 = 'Hartono'
total_pajak_karyawan_4 = total_upah_karyawan_4 * 5/100
print(f'Total Upah {nama_karyawan_4} = Rp {total_pajak_karyawan_4}')

# Total Pajak Samsul
nama_karyawan_5 = 'Samsul'
total_pajak_karyawan_5 = total_upah_karyawan_5 * 5/100
print(f'Total Upah {nama_karyawan_5} = Rp {total_pajak_karyawan_5}')

Total Upah Joko = Rp 87000.0
Total Upah Alex = Rp 91250.0
Total Upah Chandra = Rp 92500.0
Total Upah Hartono = Rp 89250.0
Total Upah Samsul = Rp 88500.0

**1. E**

Hitunglah Total Upah (Netto) dari setiap karyawan Perusahaan B

Tampilkan output seperti berikut:

Contoh:
- Total Upah (Netto) Doni = Rp 65000

Keterangan :
- Total Upah (Netto) = Total Upah - Pajak

In [17]:
# Total Netto Joko
nama_karyawan_1 = 'Joko'
total_netto_karyawan_1 = total_upah_karyawan_1 - total_pajak_karyawan_1
print(f'Total Upah {nama_karyawan_1} = Rp {total_netto_karyawan_1}')

# Total Netto Alex
nama_karyawan_2 = 'Alex'
total_netto_karyawan_2 = total_upah_karyawan_2 - total_pajak_karyawan_2
print(f'Total Upah {nama_karyawan_1} = Rp {total_netto_karyawan_2}')

# Total Netto Chandra
nama_karyawan_3 = 'Chandra'
total_netto_karyawan_3 = total_upah_karyawan_3 - total_pajak_karyawan_3
print(f'Total Upah {nama_karyawan_3} = Rp {total_netto_karyawan_3}')

# Total Netto Hartono
nama_karyawan_4 = 'JokHartono'
total_netto_karyawan_4 = total_upah_karyawan_4 - total_pajak_karyawan_4
print(f'Total Upah {nama_karyawan_4} = Rp {total_netto_karyawan_4}')

# Total Netto Samsul
nama_karyawan_5 = 'Samsul'
total_netto_karyawan_5 = total_upah_karyawan_5 - total_pajak_karyawan_5
print(f'Total Upah {nama_karyawan_5} = Rp {total_netto_karyawan_5}')

Total Upah Joko = Rp 1653000.0
Total Upah Joko = Rp 1733750.0
Total Upah Chandra = Rp 1757500.0
Total Upah JokHartono = Rp 1695750.0
Total Upah Samsul = Rp 1681500.0

###**1.F**
Berapakah jumlah total upah seluruh karyawan Perusahaan B?

Tampilkan output sebagai berikut:

Contoh:
- Jumlah total upah karyawan Perusahaan X adalah = Rp 300000

In [19]:
jumlah_total_upah = total_netto_karyawan_1 + total_netto_karyawan_2 + total_netto_karyawan_3 + total_netto_karyawan_4 + total_netto_karyawan_5
print(f'Jumlah total upah karyawan Perusahaan X adalah = Rp {jumlah_total_upah}')

Jumlah total upah karyawan Perusahaan X adalah = Rp 8521500.0

### **1G**
Berapakah jumlah rata-rata upah seluruh karyawan Perusahaan B?

Tampilkan output sebagai berikut

Contoh:
- Rata-rata upah karyawan Perusahaan B adalah = Rp 9800

In [20]:
rata_rata_upah = jumlah_total_upah / 5
print(f'Rata-rata upah karyawan Perusahaan B adalah = Rp {rata_rata_upah}')

Rata-rata upah karyawan Perusahaan B adalah = Rp 1704300.0

##Case Study 2: Menghitung Pajak Kendaraan

Setelah bekerja cukup lama Pak Samsul memutuskan untuk membeli mobil dari uang tabungan. Sebelum membeli mobil Pak Samsul melakukan riset terlebih dahulu untuk mengetahui rincian biaya pajak mobil yang akan dibeli. Hasil riset pajak Pak Samsul adalah sebagai berikut.

- Pajak Kendaraan Bermotor (PKB): 2% Nilai Jual Kendaraan Bermotor (NJKB) atau harga jual mobil
- Bea Balik Nama Kendaraan Bermotor (BBN KB): 10% harga jual mobil
- Sumbangan Wajib Dana Kecelakaan Lalu Lintas Jalan (SWDKLLJ): Rp143.000
- Biaya administrasi Tanda Nomor Kendaraan Bermotor (TNKB): Rp100.000
- Penerbitan Surat Tanda Nomor Kendaraan (STNK) = Rp200.000
- Pengesahan Surat Tanda Nomor Kendaraan (STNK) = Rp50.000
- Biaya administrasi : Rp50.000

Setelah itu Pak Samsul mencari model mobil yang cocok, dan pilihan Pak Samsul tertuju pada mobil bernama XPanther. Mobil tersebut harganya Rp 200 juta.

### **2. A**

Berapakah Pajak Tahun Pertama mobil Pak Samsul

Tampilkan output sebagai berikut

Contoh:
Pajak Tahun Pertama mobil Pak B = Rp 20000
Keterangan:
- Pajak Tahun Pertama = BBN KB + PKB + SWDKLLJ + TNKB + penerbitan STNK + biaya administrasi

In [26]:
Harga_jual = 200000000

PKB = 0.02 * Harga_jual
BBN_KB = 0.1 * Harga_jual
SWDKLLJ = 143000
TNKB = 100000
SAH_STNK = 200000
TERBIT_STNK = 50000
BIAYA_ADMINISTRASI = 50000

Pajak_PKB = BBN_KB + PKB + SWDKLLJ + TNKB + SAH_STNK + BIAYA_ADMINISTRASI


print(f'Pajak tahun pertama mobil Pak Samsul = Rp {Pajak_PKB}')

Pajak tahun pertama mobil Pak Samsul = Rp 24493000.0

###**2. B**
Berapa pajak tahun-tahun selanjutnya mobil Pak Samsul?

Tampilkan output sebagai berikut:

Contoh:
Pajak Tahun-tahun berikutnya = Rp 10000
keterangan:
 - Pajak tahun-tahun berikutnya = PKB + SWDKLLJ + biaya administrasi

In [28]:
pajak_tahun_berikut = PKB + SWDKLLJ + BIAYA_ADMINISTRASI
print(f'Pajak tahun-tahun berikutnya = Rp {pajak_tahun_berikut}')

Pajak tahun-tahun berikutnya = Rp 4193000.0

###**2. C**
Berapakah pajak 5 tahunan mobil Pak Samsul

Tampilkan output sebagai berikut

Contoh:
Pajak Lima Tahunan : Rp 30000
Keterangan:
- Pajak 5 tahunan = PKB + SWDKLLJ + Biaya pengesahan STNK + Biaya penerbitan STNK + Biaya administrasi TNKB + Biaya administrasi

In [27]:
pajak_5_tahunan = PKB + SWDKLLJ + SAH_STNK + TERBIT_STNK + TNKB + BIAYA_ADMINISTRASI
print(f'Pajak Lima Tahunan = Rp {pajak_5_tahunan}')

Pajak Lima Tahunan = Rp 4543000.0

##Case Study 3: Edit Hasil Scrapping Media Sosial

Dian sedang membuat analisis sentimen untuk mengetahui sentimen masyarakat tentang Covid-19. Contoh data yang didapatkan Dian dari scrapping media sosial adalah sebagai berikut :

- The situation report on #COVID19 from #WHOThailand for 29 September 2022 is now available.
- Covid-19 lockdowns, economic crises, and household income shocks can have scarring impacts on children's education.
- South Korea removes COVID-19 PCR testing for inbound travellers from Oct 1.

Bantu Dian untuk mengolah data tersebut!

Catatan :

Untuk menghilangkan suatu karakter bisa menggunakan method replace. Maksudnya karakter tersebut diganti atau di-replace dengan empty string ("")

Contoh :

Kita akan menghilangkan huruf "b" dari kata "bisa"

- NAMA_VAR = "bisa"
- NAMA_VAR = NAMA_VAR.replace('b', "")


Output
- print(NAMA_VAR)
- "isa"

### **3. A**
Jika ada, hilangkan karakter tag (#), tanda koma (,) dan tanda strip (-) dari data tersebut.

In [3]:
word_1 = "The situation report on #COVID19 from #WHOThailand for 29 September 2022 is now available"
word_2 = "Covid-19 lockdowns, economic crises, and household income shocks can have scarring impacts on childrens education"
word_3 = "South Korea removes COVID-19 PCR testing for inbound travellers from Oct 1"

word_1 = word_1.replace('#', "")
word_2 = word_2.replace(',', "")
word_3 = word_3.replace('-', "")

print(f'word_1 = {word_1}')
print(f'word_2 = {word_2}')
print(f'word_3 = {word_3}')

word_1 = The situation report on COVID19 from WHOThailand for 29 September 2022 is now available
word_2 = Covid-19 lockdowns economic crises and household income shocks can have scarring impacts on childrens education
word_3 = South Korea removes COVID19 PCR testing for inbound travellers from Oct 1

### **3. B**
Kemudian, buat semua huruf menjadi huruf kecil.

In [5]:
word_1 = "The situation report on #COVID19 from #WHOThailand for 29 September 2022 is now available"
word_2 = "Covid-19 lockdowns, economic crises, and household income shocks can have scarring impacts on childrens education"
word_3 = "South Korea removes COVID-19 PCR testing for inbound travellers from Oct 1"

word_1 = word_1.lower()
word_2 = word_2.lower()
word_3 = word_3.lower()

print(f'word_1 = {word_1}')
print(f'word_2 = {word_2}')
print(f'word_3 = {word_3}')

word_1 = the situation report on #covid19 from #whothailand for 29 september 2022 is now available
word_2 = covid-19 lockdowns, economic crises, and household income shocks can have scarring impacts on childrens education
word_3 = south korea removes covid-19 pcr testing for inbound travellers from oct 1

##**Case Study 4: Percetakan Banner**

Lila memiliki usaha percetakan Banner di depan rumah. Dia mendapatkan pelanggan untuk mencetak banner peringatan 17 Agustus. Pelanggan meminta ada dua kalimat nanti yang akan dicetak pada banner dengan ukuran 1 * 3. Kalimat yang pertama "Diragahayu Republik Indonesia ke-77". Kalimat ke dua "BANGKIT LEBIH CEPAT PULIH LEBIH KUAT"

### **4. A**
Sebelum mencetak banner Lila melakukan cek dahulu. Pada kalimat pertama terdapat kesalahan kata "Diragahayu" yang seharusnya "Dirgahayu". Ubah kalimat pertama sehingga menjadi benar

In [6]:
word_1 = "Diragahayu Republik Indonesia ke-77"
word_2 = "BANGKIT LEBIH CEPAT PULIH LEBIH KUAT"

word_1 = word_1.replace('Diragahayu', 'Dirgahayu')

print(f'word_1 = {word_1}')
print(f'word_2 = {word_2}')

word_1 = Dirgahayu Republik Indonesia ke-77
word_2 = BANGKIT LEBIH CEPAT PULIH LEBIH KUAT

### **4. B**
Kemudian ubah string kalimat pertama menjadi huruf kapital semuanya

In [8]:
word_1 = word_1.upper()

print(f'{word_1}')

DIRGAHAYU REPUBLIK INDONESIA KE-77